<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952851426705-0m42p57ubecb59h8km8pvp89h2o8uiba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952851426705-0m42p57ubecb59h8km8pvp89h2o8uiba</string>
	<key>API_KEY</key>
	<string>AIzaSyDcWpqKb9-fOlh7f3Eq3v0u91JEZ_D2dzw</string>
	<key>GCM_SENDER_ID</key>
	<string>952851426705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdf2.baskonus</string>
	<key>PROJECT_ID</key>
	<string>baskonuscevir</string>
	<key>STORAGE_BUCKET</key>
	<string>baskonuscevir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952851426705:ios:efca295d1fd28c25bbfe30</string>
</dict>
</plist>